@font-face {
    src: url(../fonts/IbarraRealNova-VariableFont_wght.ttf);
    font-family: 'Ibarra Real Nova'; 
}

@font-face {
    font-family: 'Public Sans';
    src: url(../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}