@mixin btn {

    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    border: 1px black solid;
    padding: 12px 25px;

    &:hover{
        background-color: black;
        color: white;
        border: none;
    }

    &:active{
        box-shadow: 0 0 20px 0px inset;
        border: none;
    }
    
}

@mixin pageTitles($titColor) {
    
    text-decoration: none;
    color: $titColor;
    font-family: 'Public Sans';
    padding-left: 20px;
    font-size: 13px;

    &:hover{
        color: #5FB4A2;
    }

    &:active{
        text-decoration: underline;
    }
}